/* line 1 */
.container {
  max-width: 500px;
  padding-top: 20px;
}

/* line 5 */
.main-header {
  padding-bottom: 30px;
}

/* line 8 */
input {
  text-align: center;
  max-width: 45px;
}

/* line 12 */
.dimensions input {
  width: 40px;
}

/* line 15 */
.cell {
  border: 1px solid black;
  height: 70px;
  width: 70px;
}
/* line 19 */
.cell input {
  height: 30px;
  width: 30px;
}

/* line 23 */
.A_entry {
  float: left;
  position: relative;
  top: 18px;
  left: 2px;
}

/* line 29 */
.B_entry {
  float: right;
  position: relative;
  bottom: 18px;
  right: 2px;
}

/* line 35 */
.submit-button button {
  width: 120px;
  height: 50px;
}

/* line 39 */
#bimatrix {
  margin: 0;
}

/* line 42 */
.center {
  margin: auto;
  width: 50%;
}

/* line 46 */
.submit-button {
  float: left;
  padding-left: 30px;
  position: absolute;
  top: 55px;
  right: 0px;
}

/* line 53 */
#table {
  float: left;
}

/* line 57 */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 63 */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
