/* line 1 */
* {
  font-family: montserrat;
}

/* line 4 */
html, body {
  height: 100%;
}

/* line 6 */
h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 11 */
h2 {
  font-size: 16px;
  text-transform: uppercase;
}

/* line 15 */
table.table tbody tr td {
  vertical-align: middle;
}

/* line 18 */
#eq-table tr th, #eq-table tr td {
  text-align: center;
  vertical-align: middle;
}

/* line 22 */
#eq-table tr.first th {
  border-bottom: none;
}

/* line 25 */
.container.header {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 30px;
  border-bottom: #eee 1px solid;
  margin: 0;
  width: initial;
}

/* line 34 */
.col-md-6 {
  height: 100%;
  border-right: #eee 1px solid;
}

/* line 38 */
input {
  text-align: center;
  max-width: 45px;
}

/* line 42 */
.dimensions input {
  width: 40px;
}

/* line 45 */
.cell {
  border: 1px solid black;
  height: 70px;
  width: 70px;
}
/* line 49 */
.cell input {
  height: 30px;
  width: 30px;
}

/* line 53 */
.A_entry {
  float: left;
  position: relative;
  top: 18px;
  left: 2px;
}

/* line 59 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://sampsonresume.com/labs/pIkfp.gif") 50% 50% no-repeat;
}

/* line 69 */
body.loading {
  overflow: hidden;
}

/* line 72 */
body.loading .modal {
  display: block;
}

/* line 77 */
.B_entry {
  float: right;
  position: relative;
  bottom: 18px;
  right: 2px;
}

/* line 83 */
.submit-button button {
  width: 140px;
  height: 50px;
}

/* line 87 */
#bimatrix {
  margin: 0;
}

/* line 90 */
.center {
  margin: auto;
  width: 50%;
}

/* line 94 */
.submit-button {
  float: left;
  position: absolute;
  top: 10px;
  right: 0px;
}

/* line 100 */
#table {
  float: left;
}

/* line 104 */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 110 */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
